table {
    border-collapse: separate;
    table-layout: fixed;
    color: #FCF8F3;
}

td {
    padding: 20px 20px;
    text-align: center;
}

tbody tr:nth-child(1) td:nth-child(1){
    background-color: #d4eaca;
}
tbody tr:nth-child(1) td:nth-child(2) {
    background-color: #D4E7C5;
}
tbody tr:nth-child(1) td:nth-child(3) {
    background-color: #BFD8AF;
}
tbody tr:nth-child(1) td:nth-child(4) {
    background-color: #99BC85;
}
tbody tr:nth-child(1) td:nth-child(5) {
    background-color: #799967;
}
tbody td:nth-child(1) {
    background-color: #8fae7e;
}
tbody tr:nth-child(2n+2) {
    background-color: #bfe0ac;
}
tbody tr:nth-child(2n+1) {
    background-color: #c8e3b8;
}
tbody tr:nth-child(1) {
    font-weight: bold;
}
