html, body { margin: 0; padding: 0; height: 100%; }

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header {
    position: sticky;
    top: 0;
}
.head {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #fa9000;
    border-radius: 0 0 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.37) 0 1px 5px 2px;
}
.logo{
    display: inline-block;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
}
.logo > img {
    width: 60px;
}
.navigation {
    user-select: none;
    margin-left: auto;
    list-style: none;
}
.navigation li {
    float: left;
    margin: 0 10px;
}
.navigation a {
    display: block;
    padding: 20px 30px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffab37;
    box-shadow: #ae6d14 2px 2px 1px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.navigation li:last-child a{
    border-bottom-right-radius: 25px;
}
.navigation li:first-child a{
    border-top-left-radius: 25px;
}
.navigation a:hover{
    background-color: #ffbd59;
    cursor: pointer;
    transform: translateY(-5px);
}
.navigation a:active{
    background-color: #fabe79;
    cursor: pointer;
    transform: translateY(5px);
}
div {
    padding: 20px;
}

.div-wrapper{
    margin: 100px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.div-border {
    display: block;
    border: 1px solid #ae6d14;
    flex-basis: 250px;
    height: 300px;
}
.div-border img {
    width: 250px;
    height: auto;
}

.shadow-type-1 {
    box-shadow: #ae6d14 -10px -10px 5px;
}
.shadow-type-2 {
    box-shadow: #ae6d14 0 0 10px 10px;
}
.shadow-type-3 {
    box-shadow: rgba(174, 109, 20, 0.49) 5px 5px 10px;
}
.shadow-type-4 {
    box-shadow: #ae6d14 0 0 30px;
}
.shadow-type-5 {
    box-shadow: inset 0 10px green, inset 0 -10px yellow, inset 10px 0 red, inset -10px 0 blue;
}
.shadow-type-6 {
    box-shadow: green 0 15px 0 -5px, yellow 0 -15px 0 -5px;
}
