html, body {margin: 0}
a:focus, li:focus, label:focus{
    outline: #e4f2db solid 3px;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: white;
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navigation-menu {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: #fa9000;
    border-radius: 0 0 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.37) 0 1px 5px 2px;
}

.navigation-list {
    display: inline-block;
    position: relative;
    float: right;
    top: 25%;
    margin: 5px 10px 5px 5px;
    padding: 0;
    list-style: none;
    user-select: none;
}

.navigation-item {
    position: relative;
    display: inline-block;
    margin: 5px 5px;
    border-radius: 10px;
    vertical-align: middle;
}
.navigation-item > a {
    display: block;
    padding: 7px 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffab37;
    box-shadow: #ae6d14 2px 2px 1px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.navigation-item  a:hover{
    background-color: #ffbd59;
    cursor: pointer;
    transform: translateY(-1px);
}
.navigation-item a:active{
    background-color: #fabe79;
    cursor: pointer;
    transform: translateY(1px);
}
.button-item > a{
    background-color: #ffab37;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    padding: 6px;
}
.button-item {
    border-radius: 100%;
}
.button-item > a:hover {
    background-color: #ffbd59;
    cursor: pointer;
    transform: translateY(-1px);
}
.button-item > a:active{
    background-color: #fabe79;
    cursor: pointer;
    transform: translateY(1px);
}

.button-item > label{
    display: block;
    height: 47px;
}
.button-item > input[type="checkbox"] {
    margin: 0;
    display: none;
}
.checkbox-img {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("images/popup-button.png");
    background-repeat: no-repeat;
    background-color: #ffab37;
    border-radius: 100%;
    padding: 6px;
    background-position: center;
    background-size: 35px 35px;
    box-shadow: #ae6d14 2px 2px 1px;
}
.checkbox-img:hover {
    background-color: #ffbd59;
    cursor: pointer;
    transform: translateY(-1px);
}
.checkbox-img:active {
    background-color: #fabe79;
    cursor: pointer;
    transform: translateY(1px);
}

.custom-checkbox:checked + .checkbox-img {
    background-color: #ffb353;
    box-shadow: none;
}

.triangle-cloud {
    content: '';
    visibility: hidden;
    position: absolute;
    border: 10px #ffb353 solid;
    transform: rotate(45deg);
    right: 15px;
    top: 53px;

}
.popup-menu {
    display: inline-block;
    visibility: hidden;
    text-align: center;
    transform: translateX(-50%);
    position: absolute;
    width: 300px;
    height: 270px;
    overflow-y: scroll;
    background-color: #ffb353;
    border-radius: 5px;
    box-shadow: #ae6d14 2px 2px 1px;
    margin-top: 30px;
    padding: 10px;
    z-index: 0;
}
.popup-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.popup-item {
    display: inline-block;
    width: 80px;
    height: 45px;
    vertical-align: top;
    font-size: small;
    text-align: center;
    margin: 5px;
}
.popup-item a {

    width: 90%;
    height: 100%;
    text-align: center;
    vertical-align: top;
    border-radius: 5px;

    text-decoration: none;
    color: white;
    display: inline-block;
}
.popup-item img {
    margin-bottom: 3px;
    vertical-align: top;
}

.custom-checkbox:checked ~ .popup-menu,
.custom-checkbox:checked ~ .triangle-cloud
{
    visibility: visible;
}
.more-list{
    display: none;
    list-style-type: none;
    padding-top: 10px;
    padding-left: 0;

    border-top: solid 2px #ffd398;
}
.more-button {
    margin: 10px 0;
}
.more-button label {
    border-radius: 1rem;
    height: fit-content;
    cursor: pointer;
    padding: 5px 10px;
}
.more-button:hover label{
    border-radius: 1rem;
    box-shadow: inset 0 0 2px #ae6d14;
}

.more-button input[type="checkbox"] {
    display: none;
}
.custom-checkbox:checked + label{
    display: none;
}
.custom-checkbox:checked ~ .more-list {
    display: inline-block;
}

