* {
    font-family: Arial, serif;
    font-size: 20px;
    word-spacing: 40px;
}

p {
    color: green;
    text-align: center;
}

div {
    text-align: justify;
}

.colored-paragraph {
    color: red;
}
.no-transfer {
    white-space: nowrap;
}
.text-shadow {
    text-shadow: 5px -5px 3px rgba(255, 80, 130, 1);
}
.crossed-uppercase {
    text-decoration: line-through;
    text-transform: uppercase;
    text-indent: 50px;
}
.word-intervals {
    word-spacing: 50px;
    letter-spacing: 30px;
}
#paragraph2 {
    font-weight: bold;
    font-style: italic;
}