html, body { margin: 0; padding: 0; height: 100%;}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.head {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #fa9000;
    border-radius: 0 0 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.37) 0 1px 5px 2px;

}
.logo{
    display: inline-block;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
}
.logo > img {
    width: 60px;
}
.navigation {
    user-select: none;
    margin-left: auto;
    list-style: none;
}
.navigation li {
    float: left;
    margin: 0 10px;
}
.navigation a {
    display: block;
    padding: 20px 30px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffab37;
    box-shadow: #ae6d14 2px 2px 1px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.navigation li:last-child a{
    border-bottom-right-radius: 25px;
}
.navigation li:first-child a{
    border-top-left-radius: 25px;
}
.navigation a:hover{
    background-color: #ffbd59;
    cursor: pointer;
    transform: translateY(-5px);
}
.navigation a:active{
    background-color: #fabe79;
    cursor: pointer;
    transform: translateY(5px);
}





.wrapper {
    position: relative;
    width: 40%;
    margin: 20px auto;
    height: 280px;
    padding: 20px;
}

.block {
    position: absolute;
    display: inline-block;
    background-color: lightgray;
    padding: 10px;
}

.block1 {
    width: 45%;
    height: 100px;
    top: 0;
    left: 0;
}
.block1::after {
    content: ' ';
    visibility: hidden;
    position: absolute;
    right: -2rem;
    top: 0;
    height: 100%;
    width: 2rem;
}


.block2 {
    visibility: hidden;
    width: 45%;
    height: 100px;
    top: 0;
    right: 0;
}
.block2::after {
    content: ' ';
    width: 100%;
    height: 12.5rem;
    position: absolute;
    bottom: -12.5rem;
    left: 0;
}

.block3 {
    visibility: hidden;
    width: 45%;
    height: 165px;
    bottom: 0;
    right: 0;
}

.block1:hover + .block2,
.block2:hover{
    cursor: pointer;
    visibility: visible;
}
.block1:hover::after {
    visibility: visible;

}
.block2:hover::after{
    z-index: 2;

}
.block2:hover + .block3,
.block3:hover{
    cursor: pointer;
    visibility: visible;
}